container {
  width: 500px;
  margin: 0px auto;
  margin-bottom: 20px;
}

body {
  font-family: Open Sans;
  color: rgb(30,30,30);
  font-size: 16px;
  background-color: #E6E6E6;
}


h1 {
  color: #DD5555;
  font-size: 25px;
  padding: none;
}

h2 {
  font-size: 20px;
  color: #3A4750;
}

h3 {
  color: #3A4750;
}

p {
  color: #808080;
}

a {
  color: #B3B3B3;
  text-decoration: none;
}

a:hover {
  color: #D72323;
}

.footer {
  background-color: rgb(30,30,30);
  color: rgb(200,200,200);
  margin: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #CCCCCC;
  width: 100%;
  clear: both;
}

.footer h3 {
  color: rgb(200,200,200);
}

.footer > div {
  text-align: left;
  background-color: rgb(30,30,30) ;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: none;
}

ul {
  list-style: none;
  padding-left: 0px
}

.img_circle {
  border-radius: 50%
}

.card {
  background-color: #FAFAFA;
  text-align: center;
  padding: 20px;
  margin: 10px 80px ;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #CCCCCC;
}

.horizontal_list {
  display: inline-flex;
  text-align: center
}

.social_media_icon {
  margin: 20px;
}

.sport_picture {
  width: 100%;
  height: auto;
}

.horizontal_list_element {
  margin: 10px 10px 10px 10px;

}

.share {
  background-color: rgb(30,30,30)
  text-align: left
}

.sport_description {
    box-shadow: none;
}

.social_media {
  font-size: 30px;
}

.sport_picture {
  border-radius: 5px
}

#main_picture {
  height: 200px;
}


#sidebar {
  background-color: #666666;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  height:100%;
  float:left;
}
#page-content {
  margin-left: 300px;
}

.inline {
  padding: 20%;
}
