.product {
  display: flex;
  align-items:center;
  padding: 10px 10px 10px 10px;
  margin: 0px 10px;
}

.product-description {
  flex: 1 1 auto;
}

.product h1 {
  font-family: 'Raleway';
  font-weight: bolder;
  font-size: 23px;
}

.product p {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size: 16px
}

.product-image img{
  border-radius: 10px;
  margin: 10px;
}

.product-description {
  margin: 30px;
}

.product:hover {
  background: #F7F7FA;
  cursor: pointer;
}

.product:hover > .upvote-count {
  transform: scale(1.2)
}

.upvote-count:hover > .product-arrow {
  border-bottom: 9px solid #07588A;

}

.upvote-count:hover {
  color: #07588A;
}










